body{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  background-color: blue;
}
#main{
  text-align: center;
  background-color: rgb(237, 100, 203);
  width: 21rem;
  height: 21rem;
}