body{
    background-color: rgb(223, 27, 16);
}

#input{
    border:solid black;
    font-size: 1rem;
    height: 33px;
    width: 224px;
    background-color: rgb(235, 205, 205);
}
#button1{
    font-size: 1rem;
    border: solid black;
    background-color:rgb(231, 137, 137) ;
    height: 2.5rem;
    width: 3rem;
}
#button1:hover{
    cursor: pointer;
    background-color:rgb(221, 69, 22) ;
}
#cl{
    border:solid black;
    background-color: rgb(235, 205, 205);
    font-size: 1rem;
    height: 2rem;
    width: 6rem;
}
#cl:hover{
    background-color: brown;
    cursor: pointer;
}

li{
    font-size: 1.6rem;
}

/*tag lenge to kuch nhi lenge :-if id ka name liya to hashtag lete h, or classes k liye bhi hum class k aage point lgate */